.mainContainer {
  width: 100%;
  max-width: 100vw;
  font-family: var(--font-family1);
  container: main / inline-size;

  .containerFlex {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .video {
      position: relative; // Adicionado para posicionar o ícone corretamente

      video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }

      .audioIcon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        z-index: 10;
        transition: color 0.3s ease; // Adiciona uma transição suave

        &:hover {
          color: rgba(255, 94, 0, 0.8); // Muda a cor ao passar o mouse
        }
      }
    }

    .contentContainer {
      background-color: var(--mode);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem;
      font-family: var(--font-family4);

      .item1 {
        grid-column: 1 / 2;

        img {
          width: 100%;
        }
      }

      .textBox {
        padding-left: 3rem;
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
          font-size: clamp(1.8rem, 1.743rem + 1.174vw, 2.5rem);
          font-weight: 500;
          color: rgb(255, 94, 0);
          display: flex;
        }

        h4 {
          font-size: clamp(1rem, 0.839rem + 0.734vw, 1.5rem);
          color: var(--grey-1);
          font-weight: var(--font-weight6);
        }

        p {
          font-size: clamp(0.7rem, 1cqw + 1cqw, 1.5rem);
          color: var(--grey-5);
          line-height: 2rem;
        }

        span {
          font-size: clamp(1rem, 1.104rem + 0.44vw, 1.5rem);
          color: var(--grey-1);
        }
      }
    }
  }
}

@container main (max-width: 48rem) {
  .mainContainer {
    .containerFlex {
      video {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
      .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img {
          height: 30vh;
          object-fit: cover;
        }
        .textBox {
          width: 100%;
          padding-left: 0;
          align-items: center;
        }
      }
    }
  }
}
