.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;

  p {
    font-family: var(--font-family1);
    font-size: clamp(0.8rem, 0.643rem + 0.952vw, 1.1rem);
    color: white;
    padding: 1.5rem;
    text-align: center;
  }

  .socialIcons {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;

    a {
      color: white;
      font-size: 1.2rem;
      transition: color 0.3s ease;

      &:hover {
        color: #ccc;
      }
    }
  }
}

@media (max-width: 48rem) {
  .footer {
    p {
      line-height: 1.2rem;
    }
  }
}
