.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;

  p {
    font-family: var(--font-family1);
    font-size: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
    color: white;
    padding: 1.5rem;
    text-align: center;
  }
}
