.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  p {
    font-family: var(--font-family1);
    font-size: clamp(0.6rem, 0.511rem + 0.432vw, 0.9rem);
    color: white;
    padding: 1.2rem;
    text-align: center;
  }

  .socialIcons {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      font-size: clamp(0.9rem, 0.811rem + 0.432vw, 1.2rem);
      transition: color 0.3s ease;

      &:hover {
        color: #ccc;
      }
    }
  }
}

@media (max-width: 48rem) {
  .footer {
    flex-direction: column;
    p {
      line-height: 0.8rem;
      max-width: 80%;
    }
    .socialIcons {
      padding-bottom: 1rem;
    }
  }
}
